week-1/challenge-3/W1 Challenge 3.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"azureblob_Connection_Name":{"defaultValue":"azureblob","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"ref":{"type":"string"},"before":{"type":"string"},"after":{"type":"string"},"repository":{"type":"object","properties":{"id":{"type":"integer"},"node_id":{"type":"string"},"name":{"type":"string"},"full_name":{"type":"string"},"private":{"type":"boolean"},"owner":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"login":{"type":"string"},"id":{"type":"integer"},"node_id":{"type":"string"},"avatar_url":{"type":"string"},"gravatar_id":{"type":"string"},"url":{"type":"string"},"html_url":{"type":"string"},"followers_url":{"type":"string"},"following_url":{"type":"string"},"gists_url":{"type":"string"},"starred_url":{"type":"string"},"subscriptions_url":{"type":"string"},"organizations_url":{"type":"string"},"repos_url":{"type":"string"},"events_url":{"type":"string"},"received_events_url":{"type":"string"},"type":{"type":"string"},"site_admin":{"type":"boolean"}}},"html_url":{"type":"string"},"description":{},"fork":{"type":"boolean"},"url":{"type":"string"},"forks_url":{"type":"string"},"keys_url":{"type":"string"},"collaborators_url":{"type":"string"},"teams_url":{"type":"string"},"hooks_url":{"type":"string"},"issue_events_url":{"type":"string"},"events_url":{"type":"string"},"assignees_url":{"type":"string"},"branches_url":{"type":"string"},"tags_url":{"type":"string"},"blobs_url":{"type":"string"},"git_tags_url":{"type":"string"},"git_refs_url":{"type":"string"},"trees_url":{"type":"string"},"statuses_url":{"type":"string"},"languages_url":{"type":"string"},"stargazers_url":{"type":"string"},"contributors_url":{"type":"string"},"subscribers_url":{"type":"string"},"subscription_url":{"type":"string"},"commits_url":{"type":"string"},"git_commits_url":{"type":"string"},"comments_url":{"type":"string"},"issue_comment_url":{"type":"string"},"contents_url":{"type":"string"},"compare_url":{"type":"string"},"merges_url":{"type":"string"},"archive_url":{"type":"string"},"downloads_url":{"type":"string"},"issues_url":{"type":"string"},"pulls_url":{"type":"string"},"milestones_url":{"type":"string"},"notifications_url":{"type":"string"},"labels_url":{"type":"string"},"releases_url":{"type":"string"},"deployments_url":{"type":"string"},"created_at":{"type":"integer"},"updated_at":{"type":"string"},"pushed_at":{"type":"integer"},"git_url":{"type":"string"},"ssh_url":{"type":"string"},"clone_url":{"type":"string"},"svn_url":{"type":"string"},"homepage":{},"size":{"type":"integer"},"stargazers_count":{"type":"integer"},"watchers_count":{"type":"integer"},"language":{"type":"string"},"has_issues":{"type":"boolean"},"has_projects":{"type":"boolean"},"has_downloads":{"type":"boolean"},"has_wiki":{"type":"boolean"},"has_pages":{"type":"boolean"},"forks_count":{"type":"integer"},"mirror_url":{},"archived":{"type":"boolean"},"disabled":{"type":"boolean"},"open_issues_count":{"type":"integer"},"license":{},"forks":{"type":"integer"},"open_issues":{"type":"integer"},"watchers":{"type":"integer"},"default_branch":{"type":"string"},"stargazers":{"type":"integer"},"master_branch":{"type":"string"}}},"pusher":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"}}},"sender":{"type":"object","properties":{"login":{"type":"string"},"id":{"type":"integer"},"node_id":{"type":"string"},"avatar_url":{"type":"string"},"gravatar_id":{"type":"string"},"url":{"type":"string"},"html_url":{"type":"string"},"followers_url":{"type":"string"},"following_url":{"type":"string"},"gists_url":{"type":"string"},"starred_url":{"type":"string"},"subscriptions_url":{"type":"string"},"organizations_url":{"type":"string"},"repos_url":{"type":"string"},"events_url":{"type":"string"},"received_events_url":{"type":"string"},"type":{"type":"string"},"site_admin":{"type":"boolean"}}},"created":{"type":"boolean"},"deleted":{"type":"boolean"},"forced":{"type":"boolean"},"base_ref":{},"compare":{"type":"string"},"commits":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"tree_id":{"type":"string"},"distinct":{"type":"boolean"},"message":{"type":"string"},"timestamp":{"type":"string"},"url":{"type":"string"},"author":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"}}},"committer":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"}}},"added":{"type":"array","items":{"type":"string"}},"removed":{"type":"array"},"modified":{"type":"array"}},"required":["id","tree_id","distinct","message","timestamp","url","author","committer","added","removed","modified"]}},"head_commit":{"type":"object","properties":{"id":{"type":"string"},"tree_id":{"type":"string"},"distinct":{"type":"boolean"},"message":{"type":"string"},"timestamp":{"type":"string"},"url":{"type":"string"},"author":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"}}},"committer":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"}}},"added":{"type":"array","items":{"type":"string"}},"removed":{"type":"array"},"modified":{"type":"array"}}}}}}}},"actions":{"Parse_through_the_list_of_commits":{"foreach":"@triggerBody()?['commits']","actions":{"Check_if_added_files_exists":{"actions":{"Parse_trough_the_list_of_added_files":{"foreach":"@items('Parse_through_the_list_of_commits')?['added']","actions":{"Check_if_PNG":{"actions":{"Get_File_details_from_GitHub":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://raw.githubusercontent.com/@{variables('Owner')}/@{variables('RepositoryName')}/master/@{items('Parse_trough_the_list_of_added_files')}"}},"Create_blob":{"runAfter":{"Get_File_details_from_GitHub":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['azureblob']['connectionId']"}},"method":"post","body":"@body('Get_File_details_from_GitHub')","path":"/datasets/default/files","queries":{"folderPath":"/images","name":"@{items('Parse_trough_the_list_of_added_files')}","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"expression":{"endsWith":["@items('Parse_trough_the_list_of_added_files')",".png"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"expression":{"not":{"equals":["@items('Parse_through_the_list_of_commits')","@null"]}},"type":"If"}},"runAfter":{"Initialize_RepositoryName":["Succeeded"]},"type":"Foreach"},"Initialize_Owner":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Owner","type":"String","value":"@triggerBody()?['repository']?['owner']?['name']"}]}},"Initialize_RepositoryName":{"runAfter":{"Initialize_Owner":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RepositoryName","type":"String","value":"@triggerBody()?['repository']?['name']"}]}}},"outputs":{}},"parameters":{"$connections":{"value":{"azureblob":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('azureblob_Connection_Name'))]","connectionName":"[parameters('azureblob_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('azureblob_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('azureblob_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"},"displayName":"[parameters('azureblob_Connection_Name')]"}}]}